@import url("https://use.typekit.net/vdq8enp.css");

*, *::before, *::after { box-sizing: border-box; }

$colors: (
	
	cyan_: #00ffff,
	orange_: #ffa500,
	violet_: #ff00ff,
	dark_: #1b1926,
	light_: #e2e2e2,
	gray_: #808080,
	light-gray_: #bebebe,
	red_: #ff0000,
	redwood_: #c1272d,
	green_: #00ff00,
	toxic-green_: #adff2f,
	deepgreen_: #39b54a,
	blue_: #0000ff,
	deepblue_: #00008b,
	orange-dim_: #f7931e,
	darkviolet_: #8a2be2,
	deepviolet_: #3d053d,
	pink_: #ee82ee,
	deeppink_: #db7093,
	yellow_: #ffff00,
);

@function color($key) {
	
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}
	
	@warn "Unknown '#{$key}'";
	@return null;
}

$box-size: 70px;
$border-radius: 4px;
$border: 2px solid black;

body {

	margin: 0;
	padding: 0;
	background-color: #1B1926;
	font-family: obvia, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9rem;
	color: color(light_);
}

mark {

	all: unset;
	@each $color in map-keys($colors) {
		&.#{$color} { color: color($color) }
	}
}

h2 {

	font-family: obvia, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 1.8em;
	text-shadow: .06em .06em color(red_);
	text-transform: uppercase;
}

ul { list-style: none }

summary {

	font-size: .8em;
	opacity: .4;
}

#cursor-info {

	background-color: color(dark_);
	border: 1px solid color(cyan_);
	border-radius: 3px;
	color: color(cyan_);
	padding: .5em;
	font-size: .9em;

	&__x-coordinates { &::before { content: 'X: ' } }
	&__y-coordinates { &::before { content: 'Y: ' } }
}

.game {
	
	position: relative;
	width: 100vw;
	display: grid;
	grid-template-columns: 1.5fr 1000px 1fr;
	grid-gap: 4em;
	padding: 4em;
	place-items: center;
	grid-template-areas:"title title title" 
						"menu canvas stats";

	#menu-button {
		
		display: none;
		&:checked ~ .game__menu-button {
			svg { @for $i from 1 through 3 { rect:nth-child(#{$i}) { transform: translateX(-10px) } } }
		}
	}

	&__menu-button {

		display: none;
		position: absolute;
		justify-self: left;
		left: 2em;
		top: 2em;
		z-index: 6;

		svg rect {

			fill: color(violet_);
			transition: transform 250ms ease-in-out;
			@for $i from 1 through 3 { &:nth-child(#{$i}) { transition-delay: 0ms } }
		}
	}

	#canvas {

		position: relative;
		margin-top: 1.5em;
		grid-area: canvas;
	}

	#main-canvas, #background-canvas {

		border: 1px solid color(violet_);
		border-radius: 5px;
	}

	#background-canvas {

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__title {

		grid-area: title;
		margin: -1em;
		text-transform: uppercase;
		font-style: italic;
		font-size: 2em;
		text-align: center;
		color: color(redwood_);
		text-shadow: .05em .05em color(violet_),
					 .1em .1em color(blue_);

		small {

			display: block;
			font-size: .6em;
		}
	}

	&__menu {

		grid-area: menu;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1.5em;
		place-items: center;
		grid-template-areas: "title"
							 "tower-tier-1"
							 "tower-tier-2"
							 "tower-tier-3";

		&__title {

			grid-area: title;
			position: relative;
			color: color(cyan_);
			text-transform: uppercase;
			font-size: 3em;
			margin: 0;
			text-align: center;
			text-shadow: .05em .05em color(violet_);
		}

		@for $i from 1 through 3 {
			
			&__tower:nth-of-type(#{$i}) {
				grid-area: tower-tier-#{$i};
				&:hover { background-color: rgba(color(nth(map-keys($colors), $i)), .03)}
			}
		}

		&__tower {

			display: grid;
			grid-template-rows: .1fr 1fr .3fr;
			grid-template-columns: .5fr 1fr;
			grid-template-areas: "thumbnail title"
								 "thumbnail description"
								 "thumbnail price";
			background-color: transparent;
			border: 1px solid rgba(color(violet_), .15);
			border-radius: .5em;
			padding: 1em .5em;
			cursor: pointer;
			transition: border-color 200ms ease-in-out,
						background-color 200ms ease-in-out;

			&:hover { border-color: rgba(color(violet_), .25) }
		}

		&__tower-title {

			grid-area: title;
			margin: 0;
		}
		
		&__tower-thumbnail {

			grid-area: thumbnail;
			justify-self: center;
			align-self: center;
		}

		&__tower-description {

			grid-area: description;
		}

		&__tower-price {

			grid-area: price;
			margin: 0;
			color: color(yellow_);
			font-weight: 800;
			font-size: 1.5em;

			p {

				position: relative;
				margin: 0;

				&::after {

					content: '';
					width: 1.3em;
					height: 1.3em;
					position: absolute;
					margin-left: .5em;
					background-image: url('../media/images/nuclear-gold.png');
					background-size: cover;
				}
			} 
		}
	}

	&__stats {
		
		color: color(light-gray_);
		grid-area: stats;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "title                            title"
							 "towers-stat-title    towers-stat-title"
							 "towers-stat-names   towers-stat-values"
							 "enemies-stat-title  enemies-stat-title"
							 "enemies-stat-names enemies-stat-values"
							 "wave-stat-title        wave-stat-title"
							 "wave-stat-names       wave-stat-values"
							 "summary                        summary";

		$stats: 'title', 'towers-stat-title', 'towers-stat-names', 'towers-stat-values', 'enemies-stat-title', 'enemies-stat-names', 'enemies-stat-values', 'wave-stat-title', 'wave-stat-names', 'wave-stat-values', 'summary';

		@each $stat in $stats {
			&__#{$stat} {
				
				grid-area: #{$stat};
				margin: 0;
				padding: .5em;
			}
		}

		&__title { padding-left: 0; padding-right: 0; }
	}

	&__summary {

		display: block;
		padding: 0 40%;
		text-align: center;
		position: absolute;
		bottom: -2.5em;

		@media(max-width: 1367px) {
			padding: 0 20%;
		}
	}

	@keyframes sound {
		from { clip-path: inset(0 20px 0 0) }
		to { clip-path: inset(0 0 0 0) }
	}

	&__sound-control {

		position: absolute;
		left: 4em;
		bottom: -1em;
		width: 3em;
		height: 2em;
		opacity: .75;
		background-image: url('../media/images/sound-on.png');
		background-size: cover;
		transition: opacity 200ms ease-in-out;

		&:hover {
			opacity: 1;
			animation: sound 350ms ease-in-out forwards;
		}
	}

	@media(max-width: 1800px) {

		&__menu {
			
			&__tower {

				grid-template-columns: 1fr;
				grid-template-areas: "title"
									 "description"
									 "price";
			}
			
			&__tower-thumbnail { display: none }
		}
	}

	@media(max-width: 1600px) {

		grid-gap: 1.5em;
		grid-template-columns: 1fr;
		grid-template-areas: "title"
							 "canvas"
							 "menu";

		&__menu {

			grid-template-columns: auto;
			grid-template-areas: "title title title"
								 "tower-tier-1 tower-tier-2 tower-tier-3";
			
			&__tower {

				grid-template-columns: .6fr 1fr;
				grid-template-areas: "thumbnail title"
									 "thumbnail description"
									 "thumbnail price";
			}
			
			&__tower-thumbnail { display: block }
		}

		&__sound-control {

			left: 4em;
			bottom: 0;
			top: 5em;
		}

		&__stats { display: none; }
	}

	@media(max-width: 1367px) {

		grid-gap: 4em;
		padding-top: 0;
		grid-template-areas: "menu"
							 "title"
							 "canvas";

		#menu-button:checked ~ &__menu { transform: translateY(0); opacity: 1; }
		&__menu-button { display: block; }

		&__menu {

			transform: translateY(-100%);
			width: 100%;
			padding: 1em;
			opacity: 0;
			top: 0;
			left: 0;
			position: absolute;
			grid-gap: 1.5em;
			place-items: center;
			transition: transform 350ms ease-in-out, opacity 200ms ease-in-out;
			transform-origin: left;
			background-color: color(dark_);
		}

		&__sound-control {

			left: 2em;
			bottom: 0;
			top: 90%;
		}
	}
}